<table class="table">
  <thead>
    <tr>
      <th scope="col" data-class="hidden" class="hidden">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Nurse Code</th>
      <th scope="col">Role</th>
      <th scope="col">Admin</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>
    {{#each nurseObjs}}
      <tr data={{dataValues}} class="table-row">
        <td class="hidden">{{dataValues.id}}</td>
        <td>{{dataValues.firstName}}</td>
        <td>{{dataValues.lastName}}</td>
        <td>{{dataValues.nurseCode}}</td>
        <td>{{dataValues.role}}</td>
        <td>
          {{#if dataValues.isAdmin}}
          <input class="test_Admin" type="checkbox" checked data-toggle="toggle" data-onstyle="primary" data-offstyle="secondary" data-size="small"/>
         {{/if}}
        {{#if dataValues.isNotAdmin}}
          <input class="test_notAdmin" type="checkbox"  data-toggle="toggle" data-onstyle="primary" data-offstyle="secondary" data-size="small"/>
         {{/if}}
        </td>
        <td><button type="button" class="btn btn-danger trash_btn"><span class="bi bi-trash"></span></button></td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script>

  $(".test_Admin").on("change",function(e){
    e.preventDefault();
    console.log('isAdmin');
      var hidden_column = e.target.parentElement.parentElement.parentElement.getElementsByClassName('hidden');
      var ID = hidden_column[0].getInnerHTML();
      var user = {
        id: ID,
      }

     $.ajax({
        type: "POST",
        url: "/api/makeBasicUser",
        data: user,
        success: function( msg ) {
        console.log('server response is', msg.status);
        window.location.href = '/Nurses';
      },
    });
  })

  $(".test_notAdmin").on("change",function(e){
    e.preventDefault();
      console.log('notAdmin');
      var hidden_column = e.target.parentElement.parentElement.parentElement.getElementsByClassName('hidden');
      var ID = hidden_column[0].getInnerHTML();
      var user = {
        id: ID,
      }

     $.ajax({
        type: "POST",
        url: "/api/makeAdmin",
        data: user,
        success: function( msg ) {
        console.log('server response is', msg.status);
        window.location.href = '/Nurses';
      },
    });
  })

  $(".trash_btn").on("click",function(e){
    e.preventDefault();
    console.log('bin button');
      var hidden_column = e.target.parentElement.parentElement.parentElement.getElementsByClassName('hidden');
      var ID = hidden_column[0].getInnerHTML();
      var user = {
        id: ID,
      }

     $.ajax({
        type: "POST",
        url: "/api/deleteUser",
        data: user,
        success: function( msg ) {
        console.log('server response is', msg.status);
        window.location.href = '/Nurses';
      },
    });
  })
</script>