<!-- Modal for Blood Sugar Levels -->
<div class="modal fade" id="addBloodSugarLevelsModal" tabindex="-1" role="dialog" aria-labelledby="addBloodSugarLevels"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addBloodSugarLevelsLabel">Add Blood Sugar Levels</h5>
        <button type="button" id="close_button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row justify-content-center">
            <div>
              <form id="residentForm" class="form-horizontal">
                <fieldset>

                  <div class="form-group">
                    <label class="col-md-4 control-label" for="bloodSugarLevelsInput">Blood Sugar Levels</label>
                    <div class="col-md-4">
                      <input id="bloodSugarLevelsInput" name="bloodSugarLevels" type="text" placeholder="140 mg/dL"
                        class="form-control input-md">
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id="addBloodSugarLevels_Button" type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Body Temperature -->
<div class="modal fade" id="addBodyTemperatureModal" tabindex="-1" role="dialog" aria-labelledby="addBloodSugarLevels"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addBodyTemperatureLabel">Add Body Temperature</h5>
        <button type="button" id="close_button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row justify-content-center">
            <div>
              <form id="residentForm" class="form-horizontal">
                <fieldset>

                  <div class="form-group">
                    <label class="col-md-4 control-label" for="bodyTemperatureInput">Body Temperature</label>
                    <div class="col-md-4">
                      <input id="bodyTemperatureInput" name="bodyTemperature" type="text" placeholder="36°C"
                        class="form-control input-md">
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="addBodyTemperature_Button" type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Recent Falls -->
<div class="modal fade" id="addFallsModal" tabindex="-1" role="dialog" aria-labelledby="addBloodSugarLevels"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFallsLabel">Add Recent Falls</h5>
        <button type="button" id="close_button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row justify-content-center">
            <div>
              <form id="residentForm" class="form-horizontal">
                <fieldset>

                  <div class="form-group">
                    <label class="col-md-4 control-label" for="recentFallsInput">Recent Falls</label>
                    <div class="col-md-4">
                      <input id="recentFallsInput" name="recentFalls" type="datetime-local"
                        placeholder="2022-07-21T19:32 " class="form-control input-md">
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id="addRecentFalls_Button" type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>

{{!-- Container for the records of: BloodSugarLevels, Temperature and Falls--}}
<div class="container">
  <div class="row">
    <div>
      <div class="well profile">
        <div>
          <div>
            <h2>{{residentObj.Name}}</h2>
            <p><strong>Age: </strong> {{residentObj.age}} </p>
            <p><strong>Room: </strong> {{residentObj.RoomNum}} </p>
            <button type="button" id="trash_btn" class="btn btn-danger"><span class="bi bi-trash"></span></button>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4 emphasis">
            <p><strong>Blood Sugar Level - mg/dL</strong></p>
            <ul class="list-group">

              {{#each bloodSugarLevelObjs}}
              <li class="list-group-item">{{this.dataValues.Levels}}</li>
              {{/each}}

            </ul>
            <button class="btn btn-success btn-block" data-bs-toggle="modal" data-bs-target="#addBloodSugarLevelsModal">
              <span class="fa fa-plus-circle"></span> </button>
          </div>
          <div class="col-md-4 emphasis">
            <p><strong>Body Temperature - °C</strong></p>
            <ul class="list-group">
              {{#each bodyTemperatureObjs}}
              <li class="list-group-item">{{this.dataValues.BodyTemperature}}</li>
              {{/each}}
            </ul>
            <button class="btn btn-success btn-block" data-bs-toggle="modal" data-bs-target="#addBodyTemperatureModal">
              <span class="fa fa-plus-circle"></span> </button>
          </div>
          <div class="col-md-4 emphasis"> 
            <p><strong>Recent Falls</strong></p>
            <ul class="list-group">
              {{#each fallObjs}}
              <li class="list-group-item">{{this.dataValues.DateTime_Fall}}</li>
              {{/each}}

            </ul>
            <button class="btn btn-success btn-block" data-bs-toggle="modal" data-bs-target="#addFallsModal">
              <span class="fa fa-plus-circle"></span> 
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  //blood sugar 
  $('#addBloodSugarLevels_Button').click(function (e) {
    e.preventDefault();
    var bloodSugarLevels = {
      Levels: $('input[name=bloodSugarLevels]').val(),
      PatientId: window.location.href.substring(window.location.href.lastIndexOf('/') + 1)
    }
    $.ajax({
      type: "POST",
      url: "/api/addBloodSugarLevels",
      data: bloodSugarLevels,
      success: function (msg) {
        var id = msg.PatientId;
        console.log('server response is', msg.status);
        window.location.href = '/ResidentProfile/' + bloodSugarLevels.PatientId;
      },
    });
  })
  //body temperature
  $('#addBodyTemperature_Button').click(function (e) {
    e.preventDefault();
    var bodyTemperature = {
      BodyTemperature: $('input[name=bodyTemperature]').val(),
      PatientId: window.location.href.substring(window.location.href.lastIndexOf('/') + 1)
    }
    $.ajax({
      type: "POST",
      url: "/api/addBodyTemperature",
      data: bodyTemperature,
      success: function (msg) {
        var id = msg.PatientId;
        console.log('server response is', msg.status);
        window.location.href = '/ResidentProfile/' + bodyTemperature.PatientId;
      },
    });
  });
  //recent falls
  $('#addRecentFalls_Button').click(function (e) {
    e.preventDefault();
    console.log("test");
    var recentFalls = {
      DateTime_Fall: $('input[name=recentFalls]').val(),
      PatientId: window.location.href.substring(window.location.href.lastIndexOf('/') + 1)
    }
    $.ajax({
      type: "POST",
      url: "/api/addRecentFalls",
      data: recentFalls,
      success: function (msg) {
        var id = msg.PatientId;
        console.log('server response is', msg.status);
        window.location.href = '/ResidentProfile/' + recentFalls.PatientId;
      },
    });
  })

  $("#trash_btn").on("click", function (e) {
    e.preventDefault();

    var ID = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);

    $.ajax({
      type: "GET",
      url: "/api/DeleteResidentProfile/" + ID,
      success: function (msg) {
        console.log('server response is', msg.status);
        window.location.href = '/residents';
      },
    });
  })
</script>